[Desktop Entry]
Name=Yukigram
Comment=Unofficial desktop version of Telegram messaging app
TryExec=yukigram
Exec=yukigram -- %u
Icon=telegram
Terminal=false
StartupWMClass=Yukigram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;
Keywords=tg;chat;im;messaging;messenger;sms;tdesktop;
Actions=quit;
DBusActivatable=true
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

[Desktop Action quit]
Exec=yukigram -quit
Name=Quit Telegram
Icon=application-exit
